## Question 1
The following table indicates the number of 6-point scores in an American rugby match in the 1979 season.

![](table1.png)

Based on these results, we create a Poisson distribution with the sample mean parameter  = 2.435. Is there any reason to believe that at a .05 level the number of scores is a Poisson variable?

In [2]:
# your answer here
from scipy import stats as st
import pandas as pd

As this numbers are discrete, we are going to use the chi2 method to check if they fit to the poisson (2.435) distribution

In [ ]:
H0: the sample distribution = theoretical distribution
H1: the sample distribution != theoretical distribution

In [56]:
table = pd.DataFrame({'scores' : [0, 1, 2, 3, 4, 5, 6, 7], 'times': [35, 99, 104,110,62,25,10,3]})

In [57]:
table

   scores  times
0       0     35
1       1     99
2       2    104
3       3    110
4       4     62
5       5     25
6       6     10
7       7      3

In [58]:
mu = 2.435

In [59]:
table['p__theo_scores'] = table.apply(lambda x : st.poisson.pmf(x['scores'],mu), axis = 1)

In [60]:
table['freq__theo_scores'] = table.apply(lambda x : x['p__theo_scores']*448, axis = 1)

In [61]:
table

   scores  times  p__theo_scores  freq__theo_scores
0       0     35        0.087598          39.243791
1       1     99        0.213301          95.558630
2       2    104        0.259693         116.342632
3       3    110        0.210784          94.431437
4       4     62        0.128315          57.485137
5       5     25        0.062489          27.995262
6       6     10        0.025360          11.361410
7       7      3        0.008822           3.952148

H0: the sample distribution = theoretical distribution
H1: the sample distribution != theoretical distribution

In [62]:
st.chisquare(table['times'], table['freq__theo_scores'])

Power_divergenceResult(statistic=5.526588649191276, pvalue=0.5959787428784398)

The high p-value (greater than alpha, 0.05), makes us to accept H0, and, thus, accept that the values follow the Poisson(2.435) distribution.

## Question 2
The following are the ordered values of a random sample of SAT scores (university entrance exam) for several students: 852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063. In previous years, the scores were presented by N (985,50). Based on the sample, is there any reason to believe that there has been a change in the distribution of scores this year? Use the level alpha = 0.05.

We asume that the results of the SAT are continuous, so we're going to apply Kolmogorov-Smirnov test. KS test.

H0: the sample distribution = theoretical distribution
H1: the sample distribution != theoretical distribution

In [27]:
results = [852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063]

In [32]:
st.kstest(results, 'norm', [985, 50])

KstestResult(statistic=0.1581291279406798, pvalue=0.847406396427736)

As we get a high p-value (high than alpha = 0.05), then we cannot reject H0 and so we conclude that the values indeed follow a N(985, 50)

In [ ]:
#your answer here

## Question 3
Let's analyze a discrete distribution. To analyze the number of defective items in a factory in the city of Medellín, we took a random sample of n = 60 articles and observed the number of defectives in the following table:

![](table4.png)

A poissón distribution was proposed since it is defined for x = 0,1,2,3, .... using the following model:

![](image1.png)

Does the distribution of defective items follow this distribution?

your code here
As this numbers are discrete, we are going to use the chi2 method to check if they fit to the poisson distribution.

As the problem don't give any parameter for the poisson distribution, we asume a mu of 0.6.

H0: the sample distribution = theoretical distribution
H1: the sample distribution != theoretical distribution

In [63]:
defective = pd.DataFrame({'number' : [0, 1, 3, 4], 'obs_f': [32, 15, 9, 4]})

In [64]:
n3 = 60

In [91]:
mu3 = 0.6

In [92]:
defective['theo_f'] = defective.apply(lambda x: st.poisson.pmf(x['number'], mu3)*n3, axis=1)

In [93]:
defective

   number  obs_f     theo_f
0       0     32  32.928698
1       1     15  19.757219
2       3      9   1.185433
3       4      4   0.177815

In [94]:
st.chisquare(defective['obs_f'], defective['theo_f'])

Power_divergenceResult(statistic=134.8455322074266, pvalue=4.883246714539391e-29)

The small value of p-value (below alpha 0.05) force us to reject H0, and thus, to discard that the values follow a poisson (0.6) distribution

## Question 4
A quality control engineer takes a simple of 10 tires that come out of an assembly line, and would like to verify on the basis of the data that follows, if the number of tires with defects observed over 200 days, if it is true that 5% of all tires have defects (that is, if the sample comes from a binomial population with n = 10 and p = 0.05).

In [ ]:
# your answer here

As this numbers are discrete, we are going to use the chi2 method to check if they fit to the binomial distribution.

H0: the sample distribution = theoretical distribution
H1: the sample distribution != theoretical distribution

No values provided, so I don't know how to do the exercise.

## Question 5
A researcher gathers information about the patterns of physical activity (AF) of children in the fifth grade of primary school of a public school. He defines three categories of physical activity (1 = Low, 2 = Medium, 3 = High). He also inquires about the regular consumption of sugary drinks at school, and defines two categories (1 = consumed, 0 = not consumed). We would like to evaluate if there is an association between patterns of physical activity and the consumption of sugary drinks for the children of this school, at a level of 5% significance. The results are in the following table: 

![](table5.png)

In [95]:
#your answer here
kids = pd.DataFrame({'yes': [32, 14, 6], 'no': [12, 22, 9]})

In [97]:
kids_array = np.array([kids['yes'], kids['no']])

In [98]:
kids_array

array([[32, 14,  6],
       [12, 22,  9]])

In [ ]:
H0: Both variables are independent.
H1 : both variables are dependent.

In [99]:
st.chi2_contingency(kids_array)

(10.712198008709638,
 0.004719280137040844,
 2,
 array([[24.08421053, 19.70526316,  8.21052632],
        [19.91578947, 16.29473684,  6.78947368]]))

With a p-value below alpha (0.05), we reject H0 and so accept that the activity level of the kids have some relationship with the sugar drinks they take.